.gradle/
.idea/
build/
toppingAndroid/.cxx/
toppingAndroid/build/
toppingAndroid/doclua.zip
toppingAndroid/doclua/
toppingAndroid/docluaJson/
toppingAndroid/docluaAndroid/
toppingAndroid/docluaShared/
local.properties
*.gpg
.DS_Store
